.form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 350px;
}

.form_textarea-label {
  margin-bottom: 20px;
  margin-left: 10px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.form_content {
  padding: 10px;
  width: 350px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  resize: none;
  box-sizing: border-box;
}

.form_btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 0;
  font-size: 20px;
  color: black;
  border: 1px solid black;
  border-radius: 100%;
  background-color: white;
  line-height: 0;
  cursor: pointer;
}