.card {
  position: relative;
  width: 250px;
  height: 175px;
  border: 1px solid black;
  background-color: white;
}

.card_content {
  padding: 10px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  overflow-wrap: break-word;
  text-align: center;
}

.card_remove-btn {
  position: absolute;
  top: -20px;
  right: -20px;
  width: 40px;
  height: 40px;
  padding: 0;
  font-size: 20px;
  color: red;
  border: 1px solid black;
  border-radius: 100%;
  background-color: white;
  line-height: 0;
  cursor: pointer;
}